/**
Blintegra.com
*/

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: 'Source Sans Pro', sans-serif;
  /* font-family: "Open Sans", sans-serif; */
  color: #444444;
}

a {
  color: #3498db;
}

a:hover {
  color: #5faee3;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}


/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  display: none;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
}

.back-to-top i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  background: #522E6D;
  color: #fff;
  transition: all 0.4s;
}

.back-to-top i:hover {
  background: #9568b8;
  color: #fff;
}



/*--------------------------------------------------------------
# Back to previous
--------------------------------------------------------------*/
.back-to-previous {
  position: fixed;
  display: none;
  left: 20px;
  bottom: 15px;
  z-index: 9999;
}

.back-to-previous i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  background: #522E6D;
  color: #fff;
  transition: all 0.4s;
}

.back-to-previous i:hover {
  background: #9568b8;
  color: #fff;
}




/*--------------------------------------------------------------
# Disable AOS delay on mobile
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  height: 70px;
  z-index: 997;
  transition: all 0.5s;
}

#header.header-scrolled {
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  height: 60px;
  background: #fff;
}

#header .logo h1 {
  font-size: 32px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 1px;
}

#header .logo h1 a,
#header .logo h1 a:hover {
  color: #2a3767;
  text-decoration: none;
}

#header .logo img {
  padding: 0;
  margin: 0;
}

@media (max-width: 768px) {
  #header {
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    height: 60px;
    background: #fff;
  }

  #header .logo h1 {
    font-size: 28px;
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu,
.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu>ul>li {
  position: relative;
  white-space: nowrap;
  float: left;
}

.nav-menu a {
  display: block;
  position: relative;
  color: #555555;
  padding: 8px 0 12px 25px;
  transition: 0.3s;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}

.nav-menu a:hover,
.nav-menu .active>a,
.nav-menu li:hover>a {
  color: #522E6D;
  text-decoration: none;
  font-weight: bold;
  text-shadow: #522E6D;
}

.nav-menu .get-started a {
  background: #522E6D;
  color: #fff;
  border-radius: 50px;
  margin: 0 0 0 30px;
  padding: 10px 25px;
}

.nav-menu .get-started a:hover {
  background: #9578ac;
  color: #fff;
}

.nav-menu .drop-down ul {
  display: block;
  position: absolute;
  left: 25px;
  top: calc(100% + 30px);
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  padding: 10px 0;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: ease all 0.3s;
  border-radius: 5px;
}

.nav-menu .drop-down:hover>ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.nav-menu .drop-down li {
  min-width: 180px;
  position: relative;
}

.nav-menu .drop-down ul a {
  padding: 10px 20px;
  font-size: 14px;
  text-transform: none;
  color: #222222;
}

.nav-menu .drop-down ul a:hover,
.nav-menu .drop-down ul .active>a,
.nav-menu .drop-down ul li:hover>a {
  color: #522E6D;
}

.nav-menu .drop-down>a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 5px;
}

.nav-menu .drop-down .drop-down ul {
  top: 0;
  left: calc(100% - 30px);
}

.nav-menu .drop-down .drop-down:hover>ul {
  opacity: 1;
  top: 0;
  left: 100%;
}

.nav-menu .drop-down .drop-down>a {
  padding-right: 35px;
}

.nav-menu .drop-down .drop-down>a:after {
  content: "\eaa0";
  font-family: IcoFont;
  position: absolute;
  right: 15px;
}

@media (max-width: 1366px) {
  .nav-menu .drop-down .drop-down ul {
    left: -90%;
  }

  .nav-menu .drop-down .drop-down:hover>ul {
    left: -100%;
  }

  .nav-menu .drop-down .drop-down>a:after {
    content: "\ea9d";
  }
}

/* Mobile Navigation */
.mobile-nav-toggle {
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}

.mobile-nav-toggle i {
  color: #222222;
}

.mobile-nav {
  position: fixed;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  z-index: 9999;
  overflow-y: auto;
  background: #fff;
  transition: ease-in-out 0.2s;
  opacity: 0;
  visibility: hidden;
  border-radius: 10px;
  padding: 10px 0;
}

.mobile-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mobile-nav a {
  display: block;
  position: relative;
  color: #222222;
  padding: 10px 20px;
  font-weight: 500;
  outline: none;
}

.mobile-nav a:hover,
.mobile-nav .active>a,
.mobile-nav li:hover>a {
  color: #522E6D;
  text-decoration: none;
  font-weight: bold;
}

.mobile-nav .get-started {
  text-align: center;
  margin-top: 10px;
}

.mobile-nav .get-started a {
  background: #522E6D;
  color: #fff;
  border-radius: 50px;
  margin: 0 15px;
  padding: 10px 30px;
  display: inline-block;
}

.mobile-nav .get-started a:hover {
  background: #9568b8;
  color: #fff;
}

.mobile-nav .drop-down>a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 10px;
  position: absolute;
  right: 15px;
}

.mobile-nav .active.drop-down>a:after {
  content: "\eaa1";
}

.mobile-nav .drop-down>a {
  padding-right: 35px;
}

.mobile-nav .drop-down ul {
  display: none;
  overflow: hidden;
}

.mobile-nav .drop-down li {
  padding-left: 20px;
}

.mobile-nav-overly {
  width: 100%;
  height: 100%;
  z-index: 9997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(9, 9, 9, 0.6);
  overflow: hidden;
  display: none;
  transition: ease-in-out 0.2s;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active .mobile-nav {
  opacity: 1;
  visibility: visible;
}

.mobile-nav-active .mobile-nav-toggle i {
  color: #fff;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 70vh;
  margin-top: 100px;
}


#hero h1 {
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #2a3767;
}

#hero h2 {
  color: #2a3767;
  margin-bottom: 40px;
  font-size: 24px;
}

.intro-text {
  text-align: center;
}

.intro-sub {
  text-align: center;
}




/* #hero .btn-get-started {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 30px;
  border-radius: 50px;
  transition: 0.5s;
  color: #3498db;
  border: 2px solid #3498db;
}
 */
#hero .btn-get-started:hover {
  background: #3498db;
  color: #fff;
}

#hero .animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

.hero-img {
  margin-top: 50px;
  margin-bottom: 25px;
}

.herosmall-img {
  margin-top: 10px;
  margin-bottom: 10px;
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

@media (max-width: 991px) {
  #hero {
    height: 100vh;
  }

  #hero .animated {
    -webkit-animation: none;
    animation: none;
  }

  #hero .hero-img {
    text-align: center;
  }

  #hero .hero-img img {
    width: 50%;
  }
}

@media (max-width: 768px) {
  #hero {
    margin-top: 20px;
  }

  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }

  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }

  #hero .hero-img img {
    width: 70%;
  }
}

@media (max-width: 575px) {
  #hero .hero-img img {
    width: 80%;
  }
}

@-webkit-keyframes up-down {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
  background-color: #f7fbfe;
}

.section-title {
  text-align: center;
  align-items: center;
  padding-bottom: 10px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  color: #2a3767;
  margin-top: 5px;
}

.section-title .subtitle {
  text-align: center;
  align-items: center;
  font-size: 28px;
  font-weight: bold;
  text-transform: uppercase;
  color: #2a3767;
  margin-top: 5px;
}

.section-title img{
  align-items: center;
}

.section-title h2::before,
.section-title h2::after {
  content: '';
  width: 50px;
  height: 2px;
  display: inline-block;
}


.section-title h2::before {
  margin: 0 15px 10px 0;
}

.section-title h2::after {
  margin: 0 0 10px 15px;
}

.section-title p {
  margin: 15px 0 0 0;
}

.section-title .description p {
  text-align: justify;
}




@media (max-width: 768px) {
  .section-title .subtitle {
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    color: #2a3767;
  }

  .section-title .subtitle-one-line {
    align-items: center;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    color: #2a3767;
  }

}

@media (max-width: 480px) {
  .section-title .subtitle {
    display: flex;
    align-items: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: #2a3767;
  }

  .section-title .subtitle-one-line {
    align-items: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: #2a3767;
  }
}
/*--------------------------------------------------------------
# Clients
--------------------------------------------------------------*/
.clients {
  /* background: #f3f9fd; */
  background: white;
  padding: 10px 0;
  text-align: center;
}

.clients .col-lg-2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.clients img {
  width: 50%;
  -webkit-filter: grayscale(100);
  filter: grayscale(100);
  transition: all 0.4s ease-in-out;
  display: inline-block;
  padding: 10px 0;
}

.clients img:hover {
  -webkit-filter: none;
  filter: none;
  transform: scale(1.1);
}

@media (max-width: 400px) {
  .clients img {
    width: 40%;
  }
}

@media (max-width: 200px) {
  .clients img {
    width: 30%;
  }
}

/*--------------------------------------------------------------
# About Us
--------------------------------------------------------------*/
.about {
  background: white;
  display: flex;
}

.about .content h3 {
  font-weight: 600;
  font-size: 26px;
  text-align: center;
}

.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content ul li {
  text-align: center;
  padding-left: 28px;
  margin-top: 20px;
  position: relative;
}

.about .content ul li+li {
  margin-top: 10px;
}

.about .content ul i {
  position: absolute;
  text-align: center;
  left: 0;
  top: 2px;
  font-size: 20px;
  color: #3498db;
  line-height: 1;
}

.about .content p:last-child {
  margin-bottom: 0;
}

.about .content .btn-learn-more {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 32px;
  border-radius: 50px;
  transition: 0.3s;
  line-height: 1;
  color: #3498db;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  margin-top: 6px;
  border: 2px solid #3498db;
}

.about .content .btn-learn-more:hover {
  background: #3498db;
  color: #fff;
  text-decoration: none;
}

.about-img {
  display: flex;
  flex-flow: wrap;
  align-content: center;
  align-items: center;
  width: 20%;
  height: auto;
  padding: 5px;
}


/*--------------------------------------------------------------
# Counts
--------------------------------------------------------------*/
.counts {
  padding-top: 0;
}

.counts .content {
  padding: 0;
}

.counts .content h3 {
  font-weight: 700;
  font-size: 34px;
  color: #222222;
}

.counts .content p {
  margin-bottom: 0;
}

.counts img{
  margin: 50px;
  width: 259px;
  height: 256px;
}

.counts .content .count-box {
  padding: 20px 20px;
  width: 100%;
  margin-bottom: 15px;
}

.counts .content .count-box i {
  display: block;
  font-size: 36px;
  color: #522E6D;
  float: left;
}


.counts .content .count-box span {
  font-size: 36px;
  line-height: 30px;
  display: block;
  font-weight: 700;
  color: #253C58;
  margin-left: 50px;
}

.counts .content .count-box p {
  padding: 15px 0 0 0;
  margin: 0 0 0 50px;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  color: #253C58;
}

.counts .content .count-box a {
  font-weight: 600;
  display: block;
  margin-top: 20px;
  color: #484848;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  transition: ease-in-out 0.3s;
}

.counts .content .count-box a:hover {
  color: #253C58;
}

@media (max-width: 1024px) {
  .counts .image {
    text-align: center;
  }

  .counts .image img {
    max-width: 70%;
  }
}

@media (max-width: 667px) {
  .counts .image img {
    max-width: 100%;
  }
}


/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services .icon-box {
  color: #2a3767;
  padding: 30px;
  position: relative;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 0 29px 0 rgba(68, 88, 144, 0.12);
  transition: all 0.3s ease-in-out;
  border-radius: 8px;
  z-index: 1;
  min-width: 200px;
}

.counts .count-box {
  color: #2a3767;
  padding: 30px;
  position: relative;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 0 29px 0 rgba(68, 88, 144, 0.12);
  transition: all 0.3s ease-in-out;
  border-radius: 8px;
  z-index: 1;
  min-width: 200px;
}

/* .services .icon-box::before {
  content: '';
  position: absolute;
  background: #e1f0fa;
  right: -60px;
  top: -40px;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  transition: all 0.3s;
  z-index: -1;
}

.services .icon-box:hover::before {
  background: #2a3767;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 0px;
} */

.services-image {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 25px;
}

/* .services .services-image {
  margin: 0 auto 20px auto;
  padding-top: 10px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background: white;
  transition: all 0.3s ease-in-out;
} */

.services .icon {
  margin: 0 auto 20px auto;
  padding-top: 10px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background: white;
  transition: all 0.3s ease-in-out;
}

.services .icon i {
  font-size: 36px;
  line-height: 1;
  color: #fff;
}

.services .title {
  text-align: center;
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}

.services .title a {
  color: #2a3767;
  margin-bottom: 30px;
}


.services .title-poliza {
  text-align: center;
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 22px;
}

.services .description {
  font-size: 15px;
  line-height: 28px;
  margin-bottom: 0;
  text-align: center;
}

/* .services .icon-box:hover .title a,
.services .icon-box:hover .description {
  color: #fff;
}

.services .icon-box:hover .icon {
  background: #fff;
}

.services .icon-box:hover .icon i {
  color: #3498db;
}
 */

poliza-img {
  display: flex;
  flex-flow: wrap;
  align-content: center;
  align-items: center;
  width: 30%;
  height: auto;
  margin-bottom: 50px;
  padding: 0px;
}

.services .poliza-section {
  font-size: 20px;
  line-height: 28px;
  margin-top: 10px;
  margin-bottom: 40px;
  text-align: justify;
}


/*--------------------------------------------------------------
# More Services
--------------------------------------------------------------*/
.more-services {
  padding-top: 20px;
}

.more-services .card {
  border: 0;
  padding: 160px 20px 20px 20px;
  position: relative;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  box-shadow: 0 0 29px 0 rgba(68, 88, 144, 0.12);
}

.more-services .card-body {
  z-index: 10;
  background: rgba(255, 255, 255, 0.9);
  padding: 15px 30px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  transition: ease-in-out 0.4s;
  border-radius: 5px;
}

.more-services .card-title {
  font-weight: 700;
  text-align: center;
  margin-bottom: 15px;
}

.more-services .card-title a {
  color: #222222;
}

.more-services .card-text {
  color: #5e5e5e;
}

.more-services .read-more a {
  color: #777777;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  transition: 0.4s;
}

.more-services .read-more a:hover {
  text-decoration: underline;
}

.more-services .card:hover .card-body {
  background: #9568b8;
}

.more-services .card:hover .read-more a,
.more-services .card:hover .card-title,
.more-services .card:hover .card-title a,
.more-services .card:hover .card-text {
  color: #fff;
}

/*--------------------------------------------------------------
# Features
--------------------------------------------------------------*/
.features .icon-box {
  display: flex;
  align-items: center;
  padding: 20px;
  background: #f6f6f6;
  transition: ease-in-out 0.3s;
}

.features .icon-box i {
  font-size: 32px;
  padding-right: 10px;
  line-height: 1;
}

.features .icon-box h3 {
  font-weight: 700;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-size: 16px;
}

.features .icon-box h3 a {
  color: #222222;
  transition: ease-in-out 0.3s;
}

.features .icon-box h3 a:hover {
  color: #9568b8;
}

.features .icon-box:hover {
  background: #eef7fc;
}

/*--------------------------------------------------------------
# Testimonials
--------------------------------------------------------------*/
.testimonials .testimonial-wrap {
  padding-left: 50px;
}

.testimonials .testimonial-item {
  box-sizing: content-box;
  padding: 30px 30px 30px 60px;
  margin: 30px 15px;
  min-height: 200px;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
  position: relative;
  background: #fff;
}

.testimonials .testimonial-item .testimonial-img {
  width: 90px;
  border-radius: 10px;
  border: 6px solid #fff;
  position: absolute;
  left: -45px;
}

.testimonials .testimonial-item h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0 5px 0;
  color: #111;
}

.testimonials .testimonial-item h4 {
  font-size: 14px;
  color: #999;
  margin: 0;
}

.testimonials .testimonial-item .quote-icon-left,
.testimonials .testimonial-item .quote-icon-right {
  color: #e1f0fa;
  font-size: 26px;
}

.testimonials .testimonial-item .quote-icon-left {
  display: inline-block;
  left: -5px;
  position: relative;
}

.testimonials .testimonial-item .quote-icon-right {
  display: inline-block;
  right: -5px;
  position: relative;
  top: 10px;
}

.testimonials .testimonial-item p {
  font-style: italic;
  margin: 15px auto 15px auto;
}

.testimonials .owl-nav,
.testimonials .owl-dots {
  margin-top: 5px;
  text-align: center;
}

.testimonials .owl-dot {
  display: inline-block;
  margin: 0 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ddd !important;
}

.testimonials .owl-dot.active {
  background-color: #3498db !important;
}

@media (max-width: 767px) {
  .testimonials .testimonial-wrap {
    padding-left: 0;
  }

  .testimonials .testimonial-item {
    padding: 30px;
    margin: 15px;
  }

  .testimonials .testimonial-item .testimonial-img {
    position: static;
    left: auto;
  }
}

/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
.portfolio .portfolio-item {
  margin-bottom: 30px;
}

.portfolio #portfolio-flters {
  padding: 0;
  margin: 0 auto 20px auto;
  list-style: none;
  text-align: center;
}

.portfolio #portfolio-flters li {
  cursor: pointer;
  display: inline-block;
  padding: 8px 15px 10px 15px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  color: #222222;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
  border-radius: 3px;
}

.portfolio #portfolio-flters li:hover,
.portfolio #portfolio-flters li.filter-active {
  color: #fff;
  background: #3498db;
}

.portfolio #portfolio-flters li:last-child {
  margin-right: 0;
}

.portfolio .portfolio-wrap {
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background: rgba(34, 34, 34, 0.6);
}

.portfolio .portfolio-wrap::before {
  content: "";
  background: rgba(34, 34, 34, 0.6);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all ease-in-out 0.3s;
  z-index: 2;
  opacity: 0;
}

.portfolio .portfolio-wrap img {
  transition: all ease-in-out 0.3s;
}

.portfolio .portfolio-wrap .portfolio-info {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  transition: all ease-in-out 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 20px;
}

.portfolio .portfolio-wrap .portfolio-info h4 {
  font-size: 20px;
  color: #fff;
  font-weight: 600;
}

.portfolio .portfolio-wrap .portfolio-info p {
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  font-style: italic;
}

.portfolio .portfolio-wrap .portfolio-links {
  text-align: center;
  z-index: 4;
}

.portfolio .portfolio-wrap .portfolio-links a {
  color: #fff;
  margin: 0 5px 0 0;
  font-size: 28px;
  display: inline-block;
  transition: 0.3s;
}

.portfolio .portfolio-wrap .portfolio-links a:hover {
  color: #3498db;
}

.portfolio .portfolio-wrap:hover::before {
  opacity: 1;
}

.portfolio .portfolio-wrap:hover img {
  transform: scale(1.2);
}

.portfolio .portfolio-wrap:hover .portfolio-info {
  opacity: 1;
}

/*--------------------------------------------------------------
# Team
--------------------------------------------------------------*/
.team .member {
  margin-bottom: 20px;
  overflow: hidden;
  text-align: center;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

.team .member .member-img {
  position: relative;
  overflow: hidden;
}

.team .member .social {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 40px;
  opacity: 0;
  transition: ease-in-out 0.3s;
  text-align: center;
  background: rgba(255, 255, 255, 0.85);
}

.team .member .social a {
  transition: color 0.3s;
  color: #222222;
  margin: 0 10px;
  padding-top: 8px;
  display: inline-block;
}

.team .member .social a:hover {
  color: #3498db;
}

.team .member .social i {
  font-size: 18px;
  margin: 0 2px;
}

.team .member .member-info {
  padding: 25px 15px;
}

.team .member .member-info h4 {
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 18px;
  color: #222222;
}

.team .member .member-info span {
  display: block;
  font-size: 13px;
  font-weight: 400;
  color: #aaaaaa;
}

.team .member .member-info p {
  font-style: italic;
  font-size: 14px;
  line-height: 26px;
  color: #777777;
}

.team .member:hover .social {
  opacity: 1;
}

/*--------------------------------------------------------------
# Pricing
--------------------------------------------------------------*/
.pricing .box {
  padding: 20px;
  background: #f9f9f9;
  text-align: center;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  border: 2px solid #f9f9f9;
}

.pricing .box h3 {
  font-weight: 400;
  padding: 15px;
  margin-top: 15px;
  font-size: 18px;
  font-weight: 600;
  color: #222222;
}

.pricing .box h4 {
  font-size: 42px;
  color: #3498db;
  font-weight: 500;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 20px;
}

.pricing .box h4 sup {
  font-size: 20px;
  top: -15px;
  left: -3px;
}

.pricing .box h4 span {
  color: #bababa;
  font-size: 16px;
  font-weight: 300;
}

.pricing .box ul {
  padding: 0;
  list-style: none;
  color: #222222;
  text-align: center;
  line-height: 20px;
  font-size: 14px;
}

.pricing .box ul li {
  padding-bottom: 16px;
}

.pricing .box ul i {
  color: #3498db;
  font-size: 18px;
  padding-right: 4px;
}

.pricing .box ul .na {
  color: #ccc;
  text-decoration: line-through;
}

.pricing .box .btn-wrap {
  padding: 15px;
  text-align: center;
}

.pricing .box .btn-buy {
  display: inline-block;
  padding: 10px 40px 12px 40px;
  border-radius: 50px;
  border: 2px solid #3498db;
  color: #3498db;
  font-size: 14px;
  font-weight: 400;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  transition: 0.3s;
}

.pricing .box .btn-buy:hover {
  background: #3498db;
  color: #fff;
}

.pricing .recommended {
  border-color: #3498db;
}

.pricing .recommended .btn-buy {
  background: #3498db;
  color: #fff;
}

.pricing .recommended .btn-buy:hover {
  background: #2383c4;
  border-color: #2383c4;
}

.pricing .table th {
  /*   background: #3498db;
  color: #fff; */
  color: #253C58;
  font-size: 12px;
  font-weight: 600;
  padding: 10px 15px;
  text-transform: uppercase;
}

.pricing .table td {
  font-size: 12px;
  font-weight: 400;
  padding: 10px 15px;
  text-transform: uppercase;
}



/*--------------------------------------------------------------
# F.A.Q
--------------------------------------------------------------*/
.faq .faq-item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-left: 15px;
  margin-right: 15px;
  padding: 5px 0;
  border-bottom: 1px solid #eeeeee;
}

.faq .faq-item i {
  color: #8bc4ea;
  font-size: 24px;
  float: left;
  line-height: 0;
  padding: 13px 0 0 0;
  margin: 0;
}

.faq .faq-item h4 {
  max-width: 900;
  align-items: center;
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
text-align: justify;
}


.faq .faq-item p {
  font-size: 15px;
  text-align: justify;
}


/*--------------------------------------------------------------
# Content-section
--------------------------------------------------------------*/
.content-section .content-section-item {
  margin: 20px 0;
  padding: 20px 0;
  border-bottom: 1px solid #eeeeee;
}

.content-section .content-section i {
  color: #8bc4ea;
  font-size: 24px;
  float: left;
  line-height: 0;
  padding: 13px 0 0 0;
  margin: 0;
}

.content-section .content-section-item h3 {
  font-size: 24px;
  line-height: 26px;
  font-weight: 500;
  margin-top: 35px;
  margin-bottom: 35px;
  text-align: center;
}

.content-section .content-section-item h4 {
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
  margin: 25px 0 10px 32px;
  text-align: center;

}

.content-section .content-section-item p {
  font-size: 15px;
}

.content-section img {
  margin-bottom: 30px;
}


*-------------------Button style
---------------------------------*/


.button  .imagen a{
  width: 100px;
  height: 100px;
  box-shadow: 0 0 29px 0 rgba(68, 88, 144, 0.12);
  transition: all 0.3s ease-in-out;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right:  10px;
  padding-bottom: 10px;
  border: 1px solid #000;
}


.button a h5{
  color: #522E6D;
}

/*-------------------inside
--------------------------------------------------------------*/

.content-section-inside  h2 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  margin-top: 35px;
  margin-bottom: 10px;
  text-align: center;
  align-items: center;
}


.content-section-inside  img {
  margin-bottom: 20px;
  align-items: center;
}


.services .container-services{
  background-color: #253C58;
}


.services .icon-box{
  margin-bottom: 20px;
}


.container-services .section-title h2{
  margin-top: 20px;
  color: whitesmoke;
}

.container-services .description p{
  margin-top: 20px;
}

.container-services .icon-box{
  margin-bottom: 20px;
}


.content-section-title  h2 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 5px;
}

.content-section-title  {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 5px;
}


.content-section-title .section-point h2{
  margin-top: 5px;
  margin-bottom: 10px;
  text-align: center;
}

.content-section-title .container {
  margin-bottom: 5px;
}


.faq-desc h4 {
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
  text-align: justify;
  margin-bottom: 10px;
  margin-top: 10px;

}

@media (max-width: 575px) {
  .content-section-title h2 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;
  }
  }

@media (min-width: 576px) {
  .content-section-title h2 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 600;
  }
  }

  

@media (min-width: 576px) {
.content-section-title h2 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 600;
}
}

@media (min-width: 768px) {
.content-section-title h2{
   font-size: 24px;
   font-weight: 600;
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   text-align: justify;
}
}



/*--------------------------------------------------------------
# Content-dark
--------------------------------------------------------------*/
.content-dark .container {
  background-color: #253C58;
  color: whitesmoke;
  width: 100%;
}

.content-dark .content-dark-item {
  margin: 20px;
  padding: 20px 0;
}

.content-dark .content-dark i {

  font-size: 24px;
  float: left;
  line-height: 0;
  padding: 13px 0 0 0;
  margin: 0;
}

.content-dark .content-dark-item h3 {
  font-size: 24px;
  line-height: 26px;
  font-weight: 500;
  margin-top: 35px;
  margin-bottom: 10px;
  text-align: center;
}


.content-dark .content-dark-item p {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 35px;
  text-align: center;
}



/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact .contact-about h3 {
  font-size: 28px;
  margin: 0 0 10px 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 1px;
  color: #222222;
}

.contact .contact-about p {
  font-size: 14px;
  line-height: 24px;
  font-family: "Raleway", sans-serif;
  color: #888;
}

.contact .social-links {
  padding-bottom: 20px;
}

.contact .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #fff;
  color: #522E6D;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
  border: 1px solid #522E6D;
}

.contact .social-links a:hover {
  background: #522E6D;
  color: #fff;
}

.contact .info {
  color: #444444;
}

.contact .info i {
  font-size: 32px;
  color: #522E6D;
  float: left;
  line-height: 1;
}

.contact .info p {
  padding: 0 0 10px 42px;
  line-height: 28px;
  font-size: 14px;
}

.contact .php-email-form .validate {
  display: none;
  color: red;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 13px;
}

.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}

.contact .php-email-form button[type="submit"] {
  background: #522E6D;
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
  border-radius: 50px;
}

.contact .php-email-form button[type="submit"]:hover {
  background: #885fa8;
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
  padding: 15px 0;
  background: #f3f3f3;
  min-height: 40px;
  margin-top: 80px;
}

.breadcrumbs h2 {
  font-size: 28px;
  font-weight: 400;
}

.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.breadcrumbs ol li+li {
  padding-left: 10px;
}

.breadcrumbs ol li+li::before {
  display: inline-block;
  padding-right: 10px;
  color: #3c3c3c;
  content: "/";
}

@media (max-width: 768px) {
  .breadcrumbs .d-flex {
    display: block !important;
  }

  .breadcrumbs ol {
    display: block;
  }

  .breadcrumbs ol li {
    display: inline-block;
  }
}

/*--------------------------------------------------------------
# Portfolio Details
--------------------------------------------------------------*/
.portfolio-details {
  padding-top: 20px;
}

.portfolio-details .portfolio-title {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}

.portfolio-details .portfolio-details-carousel .owl-nav,
.portfolio-details .portfolio-details-carousel .owl-dots {
  margin-top: 5px;
  text-align: center;
}

.portfolio-details .portfolio-details-carousel .owl-dot {
  display: inline-block;
  margin: 0 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ddd !important;
}

.portfolio-details .portfolio-details-carousel .owl-dot.active {
  background-color: #3498db !important;
}

.portfolio-details .portfolio-info {
  padding-top: 45px;
}

.portfolio-details .portfolio-info h3 {
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 20px;
}

.portfolio-details .portfolio-info ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
}

.portfolio-details .portfolio-info ul li+li {
  margin-top: 10px;
}

.portfolio-details .portfolio-info p {
  font-size: 15px;
  padding: 15px 0 0 0;
}

@media (max-width: 992px) {
  .portfolio-details .portfolio-info {
    padding-top: 20px;
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: #fff;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
  padding: 30px 0;
  color: #222222;
  font-size: 14px;
}

#footer .credits {
  font-size: 13px;
  padding-top: 5px;
  color: #222222;
}

#footer .footer-links a {
  color: #222222;
  padding-left: 15px;
}

#footer .footer-links a:first-child {
  padding-left: 0;
}

#footer .footer-links a:hover {
  color: #522E6D;
}



.container-test {
  margin: 30px, 0px, 30px, 0px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.container-test .card {
  position: relative;
  align-items: center;
  cursor: pointer;
  border-style: none;
}

.container-test .card .face {
  width: 300px;
  height: auto;
  transition: 0.5s;
}

.container-test .card .face.face1 {
  position: relative;
  background: rgb(134, 132, 132);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(100px);
}

.container-test .card:hover .face.face1 {
  background: #522E6D;
  transform: translateY(0);
}

.container-test .card .face.face1 .content {
  opacity: 0.2;
  transition: 0.5s;
}

.container-test .card:hover .face.face1 .content {
  opacity: 1;
}

.container-test .card .face.face1 .content img {
  max-width: 100px;
}

.container-test .card .face.face1 .content h3 {
  margin: 10px 0 0;
  padding: 0;
  color: #fff;
  text-align: center;
  font-size: 1em;
}

.container-test .card .face.face2 {
  position: relative;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
  transform: translateY(-100px);
}

.container-test .card:hover .face.face2 {
  transform: translateY(0);
}

.container-test .card .face.face2 .content p {
  margin: 0;
  padding: 0;
}

.container-test .card .face.face2 .content a {
  margin: 15px 0 0;
  display: inline-block;
  text-decoration: none;
  font-weight: 900;
  color: #333;
  padding: 5px;
  border: 1px solid #333;
}

.container-test .card .face.face2 .content a:hover {
  background: #333;
  color: #fff;
}





/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services-req .icon-box {
  padding: 30px;
  position: relative;
  overflow: hidden;
  background: #522E6D;
  box-shadow: 0 0 29px 0 rgba(68, 88, 144, 0.12);
  transition: all 0.3s ease-in-out;
  border-radius: 8px;
  z-index: 1;
  color: white;
}


.services-req .icon-box::before {
  content: '';
  position: absolute;
  background: #a187b4;
  right: -60px;
  top: -40px;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  transition: all 0.3s;
  z-index: -1;
  color: white;
}

.services-req .icon-box:hover::before {
  background: white;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 0px;
}

.services-req .icon {
  margin: 0 auto 20px auto;
  padding-top: 10px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background: #3498db;
  transition: all 0.3s ease-in-out;
}

.services-req .icon i {
  font-size: 36px;
  line-height: 1;
  color: #fff;
}

.services-req .title {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
  color: white;
}

.services-req .title {
  display: flex;
  justify-content: center;
  font-size: 22px;
  color: white;
  margin-bottom: 50px;
}

.services-req .description {
  font-size: 15px;
  line-height: 28px;
  margin-bottom: 0;
}

.services-req .icon-box:hover .title,
.services-req .icon-box:hover .description {
  color: black;
}

.services-req .icon-box:hover .icon {
  background: #a187b4;
}

.services-req .icon-box:hover .icon i {
  color: #522E6D;
}






/*--------------------------------------------------------------
# Pricing
--------------------------------------------------------------*/
.requirements .box {
  padding: 20px;
  /*  background: #f9f9f9; */
  text-align: justify;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  margin-bottom: 50px;
  box-shadow: #424c55 0px 0px 7px;
}

.requirements .box h3 {
  font-weight: 400;
  padding: 15px;
  margin-top: 25px;
  font-size: 22px;
  color: #522E6D;
}

.requirements h4 {
  font-size: 22px;
  color: #111;
  font-weight: 500;

  margin-bottom: 20px;
}

.requirements .box h4 sup {
  font-size: 20px;
  top: -15px;
  left: -3px;
}

.requirements .box h4 span {
  color: #bababa;
  font-size: 16px;
  font-weight: 300;
}

.requirements .box ul {
  padding: 0;
  list-style: none;
  color: #522E6D;
  text-align: left;
  line-height: 20px;
  font-size: 14px;
}

.requirements .box ul li {
  padding-bottom: 16px;
  padding-top: 16px;
}

.requirements .box ul i {
  color: #3498db;
  font-size: 15px;
  padding-right: 4px;
}

.requirements .box ul .na {
  color: #ccc;
  text-decoration: line-through;
}

.requirements .box .btn-wrap {
  padding: 15px;
  text-align: center;
}

.requirements .box .btn-buy {
  display: inline-block;
  padding: 10px 40px 12px 40px;
  border-radius: 50px;
  border: 2px solid #3498db;
  color: #3498db;
  font-size: 14px;
  font-weight: 400;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  transition: 0.3s;
}

.requirements span {
  margin: 10px;
  color: white;
  font-size: large;
  font-weight: bold;
}

.requirements .bottom-bar {
  border-bottom: 2px solid hsla(240, 8%, 85%, 0.582);
}

.requirements .bottom-bar-sub {
  border-bottom: 1px solid hsla(240, 6%, 69%, 0.582);
}


.requirements .box .btn-buy:hover {
  background: #3498db;
  color: #fff;
}

.requirements .recommended {
  border-color: #3498db;
}

.requirements .recommended .btn-buy {
  background: #3498db;
  color: #fff;
}

.requirements .recommended .btn-buy:hover {
  background: #2383c4;
  border-color: #2383c4;
}




/*--------------------------------------------------------------
# F.A.Q
--------------------------------------------------------------*/
.requirements .requirements-item {
  margin: 20px 0;
  padding: 20px 0;
  border-bottom: 1px solid #eeeeee;
}

.requirements .requirements-item i {
  color: #522E6D;
  font-size: 24px;
  float: left;
  line-height: 0;
  padding: 13px 0 0 0;
  margin: 0;
}

.requirements .requirements-item li {
  list-style: none;
  text-align: justify;
}

.requirements span {
  margin: 10px;
  color: #522E6D;
  font-size: large;
  font-weight: bold;
}

.requirements .sub-list {
  margin-top: 20px;
  margin-bottom: 15px;
  color: #9f9ca1;
  font-size: large;
}


.requirements ul {
  list-style: none;
}

.requirements .requirements-item h4 {
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
  margin: 0 0 10px 32px;
  font-family: "Poppins", sans-serif;
}

.requirements .requirements-item p {
  font-size: 15px;
}



/*--------------------------------------------------------------
# publico section
--------------------------------------------------------------*/
.publico {
  width: 100%;
  height: 70vh;
  margin-top: 100px;
}

.publico h2 {
  margin: 0 0 10px 0;
  font-size: 28px;
  font-weight: 700;
  line-height: 56px;
  color: #2a3767;
}

.publico p {
  font-size: 18px;
}

.intro-text {
  text-align: justify;
}

.publico .btn-get-started:hover {
  background: #3498db;
  color: #fff;
}

.publico .animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

.publico-img {
  margin-top: 50px;
  margin-bottom: 25px;
}

@media (min-width: 1024px) {
  .publico {
    background-attachment: fixed;
  }
}

@media (max-width: 991px) {
  .publico {
    height: 100vh;
  }

  .publico .animated {
    -webkit-animation: none;
    animation: none;
  }

  .publico .publico-img {
    text-align: center;
  }

  .publico .publico-img img {
    width: 50%;
  }
}

@media (max-width: 768px) {
  #publico {
    margin-top: 20px;
  }

  .publico h1 {
    font-size: 28px;
    line-height: 36px;
  }

  .publico h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }

  .publico .publico-img img {
    width: 70%;
  }
}

@media (max-width: 575px) {
  .publico .publico-img img {
    width: 80%;
  }
}

@-webkit-keyframes up-down {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}



/*---------------*/
/***** Milo *****/
/*---------------*/

figure.effect-milo {
	background: #2e5d5a;
}

figure.effect-milo img {
	max-width: none;
	width: -webkit-calc(100% + 70px);
	width: calc(100% + 70px);
	opacity: 1;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(-30px,0,0) scale(1.12);
	transform: translate3d(-30px,0,0) scale(1.12);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

figure.effect-milo:hover img {
	opacity: 0.5;
	-webkit-transform: translate3d(0,0,0) scale(1);
	transform: translate3d(0,0,0) scale(1);
}

figure.effect-milo h2 {
	position: absolute;
	right: 0;
	bottom: 0;
	padding: 1em 1.2em;
}

figure.effect-milo p {
	padding: 0 10px 0 0;
	width: 50%;
	border-right: 1px solid #fff;
	text-align: right;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(-40px,0,0);
	transform: translate3d(-40px,0,0);
}

figure.effect-milo:hover p {
  margin-top: 0px;
  font-size: 13px;
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-milo:hover h2 {
	opacity: 0;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.grid {
	position: relative;
	margin: 0 auto;
	padding: 1em 0 4em;
	max-width: 1000px;
	list-style: none;
	text-align: center;
}

/* Common style */
.grid figure {
	position: relative;
	float: left;
	overflow: hidden;
	margin: 10px 1%;
	min-width: 300px;
	max-width: 900px;
	max-height: 500px;
	width: 100%;
	background: #3085a3;
	text-align: center;
	cursor: pointer;
}

.grid figure img {
	position: relative;
	display: block;
	min-height: 100%;
	max-width: 100%;
	opacity: 0.8;
}

.grid figure figcaption {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.grid figure h2 {
	word-spacing: -0.05em;
	font-weight: 300;
}

.grid figure h2 span {
	font-weight: 600;
}

.grid figure h2,
.grid figure p {
	margin: 0;
}

.grid figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
}


a/*--------------------------------------------------------------
# Goverment  
--------------------------------------------------------------*/

.goverment .simple-list {
  list-style: none;
}

.goverment .icon-box {
  color: #2a3767;
  padding: 30px;
  position: relative;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 0 29px 0 rgba(68, 88, 144, 0.12);
  transition: all 0.3s ease-in-out;
  border-radius: 8px;
  z-index: 1;
  min-width: 200px;
}

.goverment .poliza-section {
  font-size: 20px;
  line-height: 28px;
  margin-top: 10px;
  margin-bottom: 40px;
  text-align: center;
}


.goverment .icon i {
  font-size: 36px;
  line-height: 1;
  color: #fff;
}

.goverment .title {
  text-align: center;
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}

.goverment .title a {
  color: #2a3767;
  margin-bottom: 30px;
}


.goverment .title-poliza {
  text-align: center;
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 22px;
}

.goverment .description {
  font-size: 15px;
  line-height: 28px;
  margin-bottom: 0;
  text-align: center;
}

.goverment .goverment-section {
  font-size: 15px;
  line-height: 28px;
  margin-bottom: 0;
  text-align: justify;
}


.goverment-image {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}


@media (min-width: 576px) {
  .goverment .goverment-section {
   font-size: 18px;
   text-align: justify;
}

  .goverment .title-poliza {
  text-align: center;
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 26px;
}

}

@media (min-width: 768px) {
  .goverment .goverment-section {
   font-size: 20px;
   text-align: justify;
}

  .goverment .title-poliza {
  text-align: center;
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 28px;
}

}




/*--------------------------------------------------------------
# contrataciones
--------------------------------------------------------------*/
.contrataciones .contrataciones-item {
  margin: 20px 0;
  padding: 20px 0;
  border-bottom: 1px solid #eeeeee;
  font-family: 'Source Sans Pro', sans-serif;
}

.contrataciones .contrataciones-item i {
  color: #8bc4ea;
  font-size: 24px;
  float: left;
  line-height: 0;
  padding: 13px 0 0 0;
  margin: 0;
}

.contrataciones .contrataciones-item h4 {
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
  margin: 0 0 10px 32px;

}

.contrataciones .contrataciones-item p {
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 0;
  text-align: justify;
}




.services-image {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 25px;
}

/* .services .services-image {
  margin: 0 auto 20px auto;
  padding-top: 10px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background: white;
  transition: all 0.3s ease-in-out;
} */


.topic .icon-box {
  color: white;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  position: relative;
  overflow: hidden;
  background: #522E6D;
  opacity: .6; 
  box-shadow: 0 0 29px 0 #a187b4;
  transition: all 0.3s ease-in-out;
  border-radius: 8px;
  z-index: 1;
  min-width: 200px;
  margin-bottom: 20px;
}

.topic hr{
  display: block;
  border: none;
  height: 3px;
  background-color:#a187b4;
  margin: 0px;
}

.topic .icon {
  margin: 0 auto 20px auto;
  padding-top: 10px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background: white;
  transition: all 0.3s ease-in-out;
}

.topic .icon i {
  font-size: 36px;
  line-height: 1;
  color: #fff;
}



.topic h4{
  color: white;
  text-align: center;
  font-weight: 400;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 22px;
}

.topic .title a {
  color: #2a3767;
  margin-bottom: 30px;
}

.topic .description {
  font-size: 15px;
  line-height: 28px;
  margin-top: 20px;
  margin-bottom: 30px;
  text-align: justify;
}

.topic .section-title {
  text-align: center;
  padding-bottom: 30px;
}

.topic .topic-image {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 5px;
}

.labor-services .icon-box {
  color: #2a3767;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  position: relative;
  overflow: hidden;
  background: #e6e5e5;;
  opacity: .6; 
  box-shadow: 0 0 10px 0 #cfcfcf;
  transition: all 0.3s ease-in-out;
  border-radius: 8px;
  z-index: 1;
  min-width: 200px;
  margin-bottom: 20px;
}

.labor-services hr{
  display: block;
  border: none;
  height: 3px;
  background-color:#979595;
  margin: 0px;
}

.labor-services h4{
  color: black;
  text-align: justify;
  font-weight: 500;
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 16px;
}


.topic-box .icon-box {
  color: white;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  position: relative;
  overflow: hidden;
  background: #522E6D;
  opacity: .6; 
  box-shadow: 0 0 29px 0 #a187b4;
  transition: all 0.3s ease-in-out;
  border-radius: 8px;
  z-index: 1;
  width: 500px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.topic-box .icon i {
  font-size: 36px;
  line-height: 1;
  color: #fff;
}

.topic-box .topic-image {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 5px;
}

.topic-box p {
  align-items: center;
  justify-content: center;
  text-align: center;
}

/*--------------------------------------------------------------
# Pricing
--------------------------------------------------------------*/
.pricing-labor .box {
  padding: 20px;
  background: #f9f9f9;
  text-align: center;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  border: 2px solid #f9f9f9;
}

.pricing-labor .box h3 {
  font-weight: 400;
  padding: 15px;
  margin-top: 15px;
  font-size: 18px;
  font-weight: 600;
  color: #222222;
}

.pricing-labor .box h4 {
  font-size: 42px;
  color: #3498db;
  font-weight: 500;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 20px;
}

.pricing-labor .box h4 sup {
  font-size: 20px;
  top: -15px;
  left: -3px;
}

.pricing-labor .box h4 span {
  color: #bababa;
  font-size: 16px;
  font-weight: 300;
}

.pricing-labor .box ul {
  padding: 0;
  list-style: none;
  color: #222222;
  text-align: center;
  line-height: 20px;
  font-size: 14px;
}

.pricing-labor .box ul li {
  padding-bottom: 16px;
}

.pricing-labor .box ul i {
  color: #3498db;
  font-size: 18px;
  padding-right: 4px;
}

.pricing-labor .box ul .na {
  color: #ccc;
  text-decoration: line-through;
}

.pricing-labor .box .btn-wrap {
  padding: 15px;
  text-align: center;
}

.pricing-labor .box .btn-buy {
  display: inline-block;
  padding: 10px 40px 12px 40px;
  border-radius: 50px;
  border: 2px solid #3498db;
  color: #3498db;
  font-size: 14px;
  font-weight: 400;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  transition: 0.3s;
}



.pricing-labor .box .btn-buy:hover {
  background: #3498db;
  color: #fff;
}

.pricing-labor .recommended {
  border-color: #3498db;
}

.pricing-labor .recommended .btn-buy {
  background: #3498db;
  color: #fff;
}

.pricing-labor .recommended .btn-buy:hover {
  background: #2383c4;
  border-color: #2383c4;
}

.pricing-labor .table th {
  /*   background: #3498db;
  color: #fff; */
  color: #253C58;
  font-size: 14px;
  font-weight: 600;
  padding: 10px 15px;
  text-transform: uppercase;
}

.pricing-labor .table td {
  color: #522E6D;
  font-size: 18px;
  font-weight: 600;
  padding: 10px 15px;
  text-transform: uppercase;
  text-align: center;
}



/*--------------------------------------------------------------
# consumer
--------------------------------------------------------------*/
.pricing-consumer .box {
  padding: 20px;
  background: #f9f9f9;
  text-align: center;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  border: 2px solid #f9f9f9;
}



.pricing-consumer .box ul {
  padding: 0;
  list-style: none;
  color: #222222;
  text-align: center;
  line-height: 20px;
  font-size: 14px;
}

.pricing-consumer .box ul li {
  padding-bottom: 16px;
}

.pricing-consumer .box ul i {
  color: #3498db;
  font-size: 18px;
  padding-right: 4px;
}

.pricing-consumer .box ul .na {
  color: #ccc;
  text-decoration: line-through;
}


.pricing-consumer .table th {
  /*   background: #3498db;
  color: #fff; */
  color: #253C58;
  font-size: 18px;
  font-weight: 600;
  padding: 20px 25px;
}

.pricing-consumer i{
 margin-right: 15px;
}

.pricing-consumer .table td {
  color: #522E6D;
  font-size: 18px;
  font-weight: 600;
  padding: 10px 15px;
  text-transform: uppercase;
  text-align: center;
}



/*--------------------------------------------------------------
# laboral
--------------------------------------------------------------*/
.pricing-laboral .box {
  padding: 20px;
  background: #f9f9f9;
  text-align: center;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  border: 2px solid #f9f9f9;
}



.pricing-laboral .box ul {
  padding: 0;
  list-style: none;
  color: #222222;
  text-align: center;
  line-height: 20px;
  font-size: 14px;
}

.pricing-laboral .box ul li {
  padding-bottom: 16px;
}

.pricing-laboral .box ul i {
  color: #3498db;
  font-size: 18px;
  padding-right: 4px;
}

.pricing-laboral .box ul .na {
  color: #ccc;
  text-decoration: line-through;
}


.pricing-laboral .table th {
  /*   background: #3498db;
  color: #fff; */
  color: #253C58;
  font-size: 18px;
  font-weight: 600;
  padding: 20px 25px;
  line-height: 30px;
}

.pricing-laboral i{
 margin-right: 15px;
}

.pricing-laboral .table td {
  color: #522E6D;
  font-size: 18px;
  font-weight: 600;
  padding: 10px 15px;
  text-transform: uppercase;
  text-align: center;
}

/* 

.btn {
  width:220px;
  height:65px;
  display:flex;
  justify-content:center;
  align-items:center;
  background-color:#fff;
  font-size:20px;
  font-weight:700;
  border:1px solid rgba(0,0,0,.2);
  box-shadow:0 4px 15px rgba(0,0,0,.2);
  cursor:pointer;
  transition:.3s all;
  outline:0
}
.btn_white {
  background-color:#fff
}
.btn_dark {
  background-color:#303030;
  color:#fff;
  border:none
}
.btn_min {
  height:50px
}
.btn:hover {
  box-shadow:0 4px 30px rgba(0,0,0,.3)
}

.modal {
  position:fixed;
  top:0;
  left:0;
  z-index:1050;
  display:none;
  width:100%;
  height:100%;
  overflow:hidden;
  background-color:rgba(0,0,0,.5)
}
.modal__dialog {
  max-width:500px;
  margin:40px auto
}
.modal__content {
  position:relative;
  width:100%;
  padding:40px;
  background-color:#fff;
  border:1px solid rgba(0,0,0,.2);
  border-radius:4px;
  max-height:80vh;
  overflow-y:auto
}
.modal__close {
  position:absolute;
  top:8px;
  right:14px;
  font-size:30px;
  color:#000;
  opacity:.5;
  font-weight:700;
  border:none;
  background-color:transparent;
  cursor:pointer
}
.modal__title {
  text-align:center;
  font-size:22px;
  text-transform:uppercase
}
.modal__input {
  display:block;
  margin:20px auto 20px auto;
  width:280px;
  height:50px;
  background:#fff;
  box-shadow:0 4px 15px rgba(0,0,0,.2);
  border:none;
  font-size:18px;
  text-align:center;
  padding:0 20px;
  outline:0
}
.modal .btn {
  display:block;
  width:280px;
  margin:0 auto
}
.show {
  display: block;
}
.hide {
  display: none;
} */